parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: src/Managers/AbstractManager.php

		-
			message: "#^Method Constellix\\\\Client\\\\Managers\\\\PoolManager\\:\\:get\\(\\) should return Constellix\\\\Client\\\\Models\\\\Pool but returns Constellix\\\\Client\\\\Models\\\\AbstractModel\\.$#"
			count: 1
			path: src/Managers/PoolManager.php

		-
			message: "#^Call to an undefined method Constellix\\\\Client\\\\Managers\\\\AbstractManager\\:\\:apply\\(\\)\\.$#"
			count: 1
			path: src/Models/AbstractDomainHistory.php

		-
			message: "#^Property Constellix\\\\Client\\\\Models\\\\Analytics\\:\\:\\$manager \\(Constellix\\\\Client\\\\Managers\\\\AnalyticsManager\\) does not accept Constellix\\\\Client\\\\Managers\\\\AbstractManager\\.$#"
			count: 1
			path: src/Models/Analytics.php

		-
			message: "#^Property Constellix\\\\Client\\\\Models\\\\ContactList\\:\\:\\$manager \\(Constellix\\\\Client\\\\Managers\\\\ContactListManager\\) does not accept Constellix\\\\Client\\\\Managers\\\\AbstractManager\\.$#"
			count: 1
			path: src/Models/ContactList.php

		-
			message: "#^Property Constellix\\\\Client\\\\Models\\\\ContactLists\\\\Email\\:\\:\\$manager \\(Constellix\\\\Client\\\\Managers\\\\ContactList\\\\EmailManager\\) does not accept Constellix\\\\Client\\\\Managers\\\\AbstractManager\\.$#"
			count: 1
			path: src/Models/ContactLists/Email.php

		-
			message: "#^Property Constellix\\\\Client\\\\Models\\\\ContactLists\\\\SlackWebhook\\:\\:\\$manager \\(Constellix\\\\Client\\\\Managers\\\\ContactList\\\\SlackWebhookManager\\) does not accept Constellix\\\\Client\\\\Managers\\\\AbstractManager\\.$#"
			count: 1
			path: src/Models/ContactLists/SlackWebhook.php

		-
			message: "#^Property Constellix\\\\Client\\\\Models\\\\ContactLists\\\\TeamsWebhook\\:\\:\\$manager \\(Constellix\\\\Client\\\\Managers\\\\ContactList\\\\TeamsWebhookManager\\) does not accept Constellix\\\\Client\\\\Managers\\\\AbstractManager\\.$#"
			count: 1
			path: src/Models/ContactLists/TeamsWebhook.php

		-
			message: "#^Property Constellix\\\\Client\\\\Models\\\\Domain\\:\\:\\$manager \\(Constellix\\\\Client\\\\Managers\\\\DomainManager\\) does not accept Constellix\\\\Client\\\\Managers\\\\AbstractManager\\.$#"
			count: 1
			path: src/Models/Domain.php

		-
			message: "#^Property Constellix\\\\Client\\\\Models\\\\GeoProximity\\:\\:\\$manager \\(Constellix\\\\Client\\\\Managers\\\\GeoProximityManager\\) does not accept Constellix\\\\Client\\\\Managers\\\\AbstractManager\\.$#"
			count: 1
			path: src/Models/GeoProximity.php

		-
			message: "#^Property Constellix\\\\Client\\\\Models\\\\IPFilter\\:\\:\\$manager \\(Constellix\\\\Client\\\\Managers\\\\IPFilterManager\\) does not accept Constellix\\\\Client\\\\Managers\\\\AbstractManager\\.$#"
			count: 1
			path: src/Models/IPFilter.php

		-
			message: "#^Property Constellix\\\\Client\\\\Models\\\\Pool\\:\\:\\$manager \\(Constellix\\\\Client\\\\Managers\\\\PoolManager\\) does not accept Constellix\\\\Client\\\\Managers\\\\AbstractManager\\.$#"
			count: 1
			path: src/Models/Pool.php

		-
			message: "#^Access to an undefined property Constellix\\\\Client\\\\Models\\\\Record\\:\\:\\$manager\\.$#"
			count: 4
			path: src/Models/Record.php

		-
			message: "#^Property Constellix\\\\Client\\\\Models\\\\Tag\\:\\:\\$manager \\(Constellix\\\\Client\\\\Managers\\\\TagManager\\) does not accept Constellix\\\\Client\\\\Managers\\\\AbstractManager\\.$#"
			count: 1
			path: src/Models/Tag.php

		-
			message: "#^Property Constellix\\\\Client\\\\Models\\\\Template\\:\\:\\$manager \\(Constellix\\\\Client\\\\Managers\\\\TemplateManager\\) does not accept Constellix\\\\Client\\\\Managers\\\\AbstractManager\\.$#"
			count: 1
			path: src/Models/Template.php

		-
			message: "#^Property Constellix\\\\Client\\\\Models\\\\VanityNameserver\\:\\:\\$manager \\(Constellix\\\\Client\\\\Managers\\\\VanityNameserverManager\\) does not accept Constellix\\\\Client\\\\Managers\\\\AbstractManager\\.$#"
			count: 1
			path: src/Models/VanityNameserver.php

		-
			message: "#^Access to an undefined property Constellix\\\\Client\\\\Client\\:\\:\\$nonExistentManager\\.$#"
			count: 1
			path: tests/Unit/ClientTest.php

		-
			message: "#^Access to an undefined property Constellix\\\\Client\\\\Models\\\\Domain\\:\\:\\$foobar\\.$#"
			count: 1
			path: tests/Unit/Model/DomainTest.php
